footer.main-footer
    div.container
        div.row
            div.col-sm-4
                div.widget
                    h4.title 友链
                    div.content.tag-cloud.friend-links
                        a(href="https://www.baidu.com") 百度一下
                        a(href="https:www.bilibili.com") 哔哩哔哩
            div.col-sm-4
                div.card
            div.col-sm-4
                div.card
    div.copyright
        div.container
            div.row
                div.col-sm-12
                    span Copyright &#169; 我爱看番&nbsp;&nbsp;
                    span |
                    span &nbsp;&nbsp;本网站所有资源均引用互联网公开资源
