.card{
    height: 110px;
    width: 220px;
    float: left;
    flex-direction: inherit;
    margin-right: 25px;
    margin-bottom: 13px;
}
.card img{
    height: 100%;
    width: 90px;
}
.r-text{
    margin-left: 10px;
    margin-top: 2px;
    float: left;
}
.r-text a{
    font-size: 1em;
}
.main-footer{
    background-color:#202020;
    padding: 35px 0 0;
    color:#959595;
}
.main-footer .widget{
    padding: 0 30px;
}
.widget{
    margin-bottom: 35px;
}
.main-footer .widget .title{
    color: #3f73d6;
    border-bottom: 1px solid #b51c1c;
}
.widget .title{
    margin-top: 0;
    padding-bottom: 7px;
    margin-bottom: 21px;
    position: relative;
}
.widget .title:after{
    content: '';
    width: 90px;
    height: 1px;
    background-color: #884d1a;
    position: absolute;
    left: 0;
    bottom: -1px;
}


.widget .tag-cloud a{
    outline: none;
    text-decoration: none;
    background-color: transparent;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    transition: all .2s ease;
}
.widget .tag-cloud a:hover{
    color: #ffffff;
    background-color: #e67e22;
    text-decoration: none;
}


.copyright{
    background-color: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}